---
import AppLayout from "../components/AppLayout";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Dev Dashboard | Nitric'>
  <AppLayout client:load>
    <main>
      <h1>Welcome to <span class='text-gradient'>Nitric</span></h1>
    </main>
  </AppLayout>
</Layout>
