---
name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  FATHOM_SITE: ${{ vars.FATHOM_SITE }}

jobs:
  release:
    name: semantic-release
    runs-on: ubuntu-latest
    outputs:
      new-release-published: ${{ steps.semantic-release.outputs.new_release_published }}
      new-release-version: ${{ steps.semantic-release.outputs.new_release_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - id: semantic-release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.NITRIC_BOT_TOKEN }}
